<div class="box" [@inOutAnimation] style="border: 2px solid #f6f7f8; border-radius: 30px;">
    <!--Tweet Corrente-->
    <h3><strong>Tweet</strong></h3>
    <div class="box" style="background-color: rgb(218, 225, 237);">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src={{tweet.user.profile_image_url}}
                 onerror="this.onerror=null; this.src='/assets/image/user/user-image.png';" alt="tweet profile img">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{tweet.user.name}}</strong> <small> @{{tweet.user.screen_name}}&nbsp;</small>
              <small>{{this.mapsService.transformDate(tweet.created_at)}}</small>
              <br>
              {{tweet.text}}
              <br>
            </p>
          </div>

          <div *ngIf="tweet.is_quote_status; then quotedStatusBlock"></div>

          <div class="image-of-current-tweet" *ngIf="tweet.entities.media" >
            <div *ngFor="let media of tweet.entities.media">
              <figure class="image-container" *ngIf="media.type=='photo'"  style="max-width: 250px; max-height: 250px;">
                <p class="image is-left">
                  <img src={{media.media_url}} alt="My Image" style="max-width: 250px; max-height: 250px;">
                </p>
              </figure>
            </div>
          </div>
  
          <div class="Video-of-current-tweet"
               *ngIf="tweet.extended_tweet && tweet.extended_tweet.entities.media" >
            <div *ngFor="let media of tweet.extended_tweet.entities.media">
              <div class="has-ratio is-16by9" *ngIf="media.type == 'video'"  style="max-width: 250px; max-height: 250px;" >
                <iframe *ngIf="checkIfMp4(media.video_info.variants)"
                        [src]="sanitizer.bypassSecurityTrustResourceUrl(getMp4(media.video_info.variants))"
                        frameborder="0" allowfullscreen alt="video" allow="autoplay; encrypted-media"></iframe>
              </div>
            </div>
          </div>

  
          <nav class="level is-mobile">
            <div class="level-left">
              <div class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                {{tweet.reply_count}}
              </div>
  
  
              <div class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                {{tweet.retweet_count}}
              </div>
  
  
              <div class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                {{tweet.favorite_count}}
              </div>
  
  
            </div>
          </nav>
        </div>
      </article>
    </div>
    <!--User-->
    <h3><strong>User Profile</strong></h3>
    <div class="box" style="background-color: rgb(218, 225, 237);">
        <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
            <img src={{tweet.user.profile_image_url}}
                    onerror="this.onerror=null; this.src='/assets/image/user/user-image.png';" alt="user profile img">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
            <p>
                <strong>{{tweet.user.name}}</strong> <small> @{{tweet.user.screen_name}}</small>
                <br>
                <strong>User ID:&nbsp;</strong> <small>{{tweet.user.id}}; </small> <strong>Language:&nbsp;</strong> <small>{{tweet.user.lang}}; </small> <strong>Location:&nbsp;</strong><small>{{tweet.user.location}}; </small>
                <strong>Created at:&nbsp;</strong><small>{{this.mapsService.transformDate(tweet.user.created_at)}}; </small>
                <br>
                <strong>Description:&nbsp;</strong>{{tweet.user.description}}
                <br>
            </p>

            </div>

            


            <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item" aria-label="follower">
                    <span class="icon is-small">
                    <i class="fas fa-users icon" aria-hidden="true"></i>
                    </span>
                    &nbsp;{{tweet.user.followers_count}}
                </div>


                <div class="level-item" aria-label="following">
                    <span class="icon is-small">
                    <i class="fa-solid fa-user-friends icon" aria-hidden="true"></i>
                    </span>
                    &nbsp;{{tweet.user.friends_count}}
                </div>


            </div>
            </nav>
        </div>
        </article>
    </div>
        
  </div>


  <ng-template #quotedStatusBlock>
    <!--IL TWEET ORIGINALE SE IL PRECEDENTE è UN COMMENTO-->

    <div class="box" style="border: 2px solid #f6f7f8; border-radius: 30px;">
        <!--Tweet Corrente-->
        <div class="box"    style="background-color: rgb(218, 225, 237);">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src={{tweet.quoted_status.user.profile_image_url}}
                    onerror="this.onerror=null; this.src='/assets/image/user/user-image.png';" alt="user profile img">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{tweet.quoted_status.user.name}}</strong> <small> @{{tweet.quoted_status.user.screen_name}}</small>
                  <small>{{tweet.quoted_status.created_at}}</small>
                  <br>
                  {{tweet.quoted_status.text}}
                  <br>
                </p>
              </div>
      
              <div class="image-of-current-tweet" *ngIf="tweet.quoted_status.entities.media" >
                <div *ngFor="let media of tweet.quoted_status.entities.media">
                  <figure class="image-container" *ngIf="media.type=='photo'"  style="max-width: 250px; max-height: 250px;">
                    <p class="image is-left">
                      <img src={{media.media_url}} alt="My Image" style="max-width: 250px; max-height: 250px;">
                    </p>
                  </figure>
                </div>
              </div>
      
              <div class="Video-of-current-tweet"
                   *ngIf="tweet.quoted_status.extended_tweet && tweet.quoted_status.extended_tweet.entities.media" >
                <div *ngFor="let media of tweet.quoted_status.extended_tweet.entities.media">
                  <div class="has-ratio is-16by9" *ngIf="media.type == 'video'"  style="max-width: 250px; max-height: 250px;" >
                    <iframe *ngIf="checkIfMp4(media.video_info.variants)"
                            [src]="sanitizer.bypassSecurityTrustResourceUrl(getMp4(media.video_info.variants))"
                            frameborder="0" allowfullscreen alt="video" allow="autoplay; encrypted-media"></iframe>
                  </div>
                </div>
              </div>
      
              <nav class="level is-mobile">
                <div class="level-left">
                  <div class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    {{tweet.reply_count}}
                  </div>
      
      
                  <div class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    {{tweet.quoted_status.retweet_count}}
                  </div>
      
      
                  <div class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fa-solid fa-heart" aria-hidden="true"></i>
                      </span>
                    {{tweet.quoted_status.favorite_count}}
                  </div>
      
      
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>


  </ng-template>





