.table-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #888888 #f5f5f5;
  }

  .table-container::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  .table-container::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 4px;
  }